@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient-purple-blue {
    background: linear-gradient(to bottom right, #a855f7, #3b82f6);
  }

  .bg-gradient-sunset {
    background: linear-gradient(to bottom right, #fb923c, #e11d48, #7e22ce);
  }

  .bg-gradient-ocean {
    background: linear-gradient(to bottom right, #22d3ee, #3b82f6, #4f46e5);
  }

  .bg-soft-lavender {
    background: linear-gradient(to bottom right, #f3e8ff, #fce7f3);
  }

  .bg-mesh-gradient-1 {
    background-color: #f3e8ff;
    background-image: 
      radial-gradient(at 0% 0%, rgba(142, 53, 240, 0.4) 0, transparent 50%),
      radial-gradient(at 100% 0%, rgba(69, 179, 249, 0.4) 0, transparent 50%),
      radial-gradient(at 100% 100%, rgba(253, 110, 90, 0.4) 0, transparent 50%),
      radial-gradient(at 0% 100%, rgba(120, 53, 240, 0.4) 0, transparent 50%);
  }

  .gradient-animate {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}